header {
  background: var(--primary-background-color);
  
}

.header {
  width: 70rem;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.logo {
  margin: auto 20px auto auto;
}

a.logo-img {
  text-decoration: none;
  color: var(--primary-text-color);
  font: var(--icon-font-family);
  font-size: 3.5rem;
  margin-right: 10px;
}

a.logo-txt {
  text-decoration: none;
  color: var(--primary-text-color) !important;
  font: var(--default-font-family);
  font-size: 2rem;
  line-height: 1;
  align-self: center;
}

.search-bar {
  margin: auto auto auto 10px;
  flex-grow: 1;
}

.search-bar-input {
  height: 2.5rem;
  min-width: 35rem;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

.search-btn {
  font-family: var(--icon-font-family);
  color: gray;
  background-color: transparent;
  border: none;
  margin-left: -45px;
  cursor: pointer;
}

.user {
  margin: auto 10px auto 5px;
}

a.user-btn {
  text-decoration: none;
  font-weight: var(--default-font-family);
  color: var(--primary-text-color) !important;
  font-size: 1.5rem;
  align-self: center;
  padding: 0;
  margin: auto 15px auto 5px;
}

.shopping-cart {
  margin: auto 5px auto 5px;
  font-size: 2rem;
}

a.shopping-cart-btn {
  text-decoration: none;
  color: var(--primary-text-color) !important;
  font-size: 2rem;
}

p.cart-item-count {
  font-family: var(--default-font-family);
  font-size: .8rem;
  background-color: red;
  text-align: center;
  border-radius: 10px;
  position: relative;
  width: .7rem;
  margin-top: -1.1rem;
  margin-left: 1.4rem;
  z-index: 1;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--default-background-color);
}

.category-navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.categories-dropdown-list {
  background-color: var(--default-background-color);
}

a.category-navbar-btn {
  color: #4C394E;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .5rem 0.625rem;
  cursor: pointer;
}

a.category-navbar-btn:hover {
  background: lightgray;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}