.header-dropdown {
  position: relative;
}

.header-dropdown ul {
  background-color: white;
  color: black;
  display: none;
}

.header-dropdown li {
  background-color: var(--default-background-color);
  padding: .5rem 0.625rem;
}

.header-dropdown a {
  text-decoration: none;
}

.header-dropdown li:hover {
  background: lightgray;
  border-color: none;
}

.header-dropdown:hover ul {
  background-color: var(--primary-background-color);
  margin-top: .45rem; /*here*/
  display: block;
  position: absolute;
  min-width: 8.5rem;
  z-index: 1;
  cursor: pointer;
}
